<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/metervision/landing/static/landing.css" />
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>MeterVision :: HOME</title>
</head>
<body>
   <div class="container">
     <div class="header">
          <ul class="header__menu">
               <li>HOME</li>
               <li>FEATURES</li>
               <li>ABOUT</li>
               <li>BLOG</li>
               <li>GITHUB</li>
          </ul>
     </div>
     <div class="main">
          <div class="hero_text">
               <p>Make your <span>Utility Payments</span><span>easier with MeterVision</span></p>
               <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam est corporis provident illo quia delectus sed tenetur unde laboriosam sit ratione perferendis, natus iure vitae minima beatae quasi veritatis sapiente!</p>
               <button>Get Started</button>
          </div>
          <div class="hero_image">
               <img src="{% static 'images/hero-image-by-freepik.jpg' %}" alt="Your Image">
               <img src="/metervision/landing/static/images/hero-image-by-freepik.jpg" alt="Your Image">
          </div>
     </div>
   </div>
</body>
</html>