<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>MeterVision :: HOME</title>
</head>
<body>
   <div class="container">
     <div class="header">
          <ul class="header__menu">
               <li>HOME</li>
               <li>FEATURES</li>
               <li>ABOUT</li>
               <li>BLOG</li>
               <li>GITHUB</li>
          </ul>
     </div>
     <div class="main">
          <div class="hero_text">
               <p>Make your</p>
               <p class="hero_highlight">Utility Payments</p>
               <p>easier with MeterVision</p>
          </div>
          <div class="hero_image">
               Hero Image
          </div>
     </div>
   </div>
</body>
</html>