<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ocr_app.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>OCR APP</h1>
        <!-- New Form -->
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="form-title">Upload your Image</span>
            <p class="form-paragraph">
                jpg / jpeg / png
            </p>
            <label for="image-input" class="drop-container">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" accept="image/*" id="file-input" name="image" required>
            </label>
            <input type="radio" name="ocr_type" value="pytesseract" class="radio" id="radio-btn"> 
            <label for="radio-btn" class="radio_label">Pytesseract</label>
            <input type="radio" name="ocr_type" value="easyocr" class="radio">
            <label for="radio-btn" class="radio_label">EasyOCR</label> 
            <input type="radio" name="ocr_type" value="both" class="radio">
            <label for="radio-btn" class="radio_label">Both</label>
            <button type="submit" class="read-btn" >Read Text</button>
        </form>
    </div>
</body>
</html>
